# https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows?search-overlay-open=true&search-overlay-input=github-script&search-overlay-ask-ai=true

name: Auto GitToken Generated Behind Scene
on:
  pull_request_target:
    types: [opened]
jobs:
  pr-comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    # use actions/github-script to be able to create the pr comment.
    # behind the scenes this uses github token secret for authentication
    # this can be overriden by directly provide:
    # secrets.GITHUB_TOKEN as input for actions script to be authenticated
    steps:
      - name: Comment on New PRs
        uses: actions/github-script@v8
        with:
          # explicitly provide token as input for above github-script
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # we create a comment here for a pull request
          script: |
            await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: 'Thanks for contributing. Customized token permissions-write!'
            });
